

:root { 
  --black: #000000;
  --blueberry: #4c84ff1a;
  --cloud-burst: #1b2e49;
  --storm-gray: #676f8a80;
  --white: #ffffff;
 
  --font-size-l: 14px;
  --font-size-m: 12px;
 
  --font-family-heebo: "Heebo", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
}
.text {
  font-family: var(--font-family-heebo);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.caption {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}


@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:600|Heebo:400");


.screen a {
  display: contents;
  text-decoration: none;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
